/* head */

body {
    font-family: 'Syne', sans-serif;
}


.intro {
    color: #03041c;
    font-weight: 500;
}

.logotype {
    width: 200px;
}

.fafa {
    height: 38px;
    margin-top: 2px;
    cursor: pointer;
}

.home-1 {
    color: #03041c;
    font-size: 17px;
    font-weight: 500;
}

.home-1:after {
    display: block;
    content: "";
    background-color: #03041C;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.myimg {
    width: 700px;
}

.home-1:hover:after,
.home-1:focus:after {
    width: 100%;
}

.black {
    background-color: #fff;
    color: #03041C;
}

.branding {
    top: 70%;
    left: 40px;
}

.con-2 {
    margin-top: 120px;
}

.book_01 {
    padding: 17px 33px;
    color: #fff;
    background-color: #03041C;
    font-size: 13px;
}


.book_001::after {
    position: absolute;
    content: "";
    left: 102px;
    top: 8px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
    z-index: -1;
    transition: 0.3s;
}

.book_001:hover::after {
    top: 0;
    left: 94px;
}

.download::after {
    position: absolute;
    content: "";
    left: 8px;
    top: 8px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
    z-index: -1;
    transition: 0.3s;
}

.download:hover::after {
    top: 0;
    left: 0;
}

.bgc::after {
    position: absolute;
    content: "";
    top: 28%;
    left: 17%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
    z-index: -1;
}

.hey {
    font-size: 18px;
    font-weight: 500;
}

.hey::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 20px;
    background-image: -webkit-linear-gradient(66.87deg, #FF91FA -31.45%, #FA6490 44.59%, #F7D86A 126.96%);
}

.job {
    font-size: 90px;
    line-height: 80px;
}

.hey span {
    font-size: 20px;
}


.hiim {
    font-size: 21px;
    padding: 30px 0 70px;
    width: 530px;
}

.connect-1 {
    font-weight: 400;
    font-size: 20px;
}

.layer {
    position: absolute;
    display: block;
    left: 115px;
    top: 35%;
    transform: translate3d(2.55062px, -30.9734px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.layer-2 {
    position: absolute;
    display: block;
    transform: translate3d(2.55062px, -30.9734px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    left: 90%;
    top: 40%;
    z-index: -2;
}

.connection {
    margin-top: 80px;
}

.iconio1 {
    font-size: 13px;
    font-weight: 400;
    color: #03041c;
}


.iicon-1 {
    padding: 14px 15px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.mylogo {
    width: 240px;
    cursor: pointer;
}

#to_top {
    padding: 8px 14px;
    border-radius: 50%;
    color: #fff;
    background-color: #03041C;
    outline: none;
    display: none;
}

.fixed-bottom {
    left: 95%;
    bottom: 5%;
    transition: 0.3s;
}

.fixed-bottom:hover {
    bottom: 7%;
}

.iicon-1:hover {
    color: #fff;
    background-color: black;
}

.branding {
    padding: 20px 35px;
}

.iicon-1:before {
    font-size: 18px;
}


.white {
    color: white;
}

.aboutMe {
    background-color: #03041C;
    margin: 0 140px;
    padding: 130px 200px;
    font-family: 'syne', sans-serif;
}

body *::selection {
    background-color: black;
    color: #fff;
}

.about11 {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.about11::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 20px;
    background-image: -webkit-linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
}


.bio {
    font-size: 48px;
    color: #7C7C85;
    line-height: 50px;
}


.bio-2 {
    color: #A3A3AA;
    width: 850px;
    margin: 30px 0 60px;
    font-size: 18px;
}

.download {
    padding: 17px 33px;
    color: #03041C;
    font-size: 13px;
    z-index: 1;
}

/* center */

.center {
    margin-top: 80px;
}

.group {
    border: 1px solid #f2f2f2;
    padding: 15px 20px;
    margin: 10px;
    width: 346px;
    cursor: pointer;
}

.div-11 {
    border-left: 3px solid #03041C;
}

.group-selection {
    color: #03041C;
    font-size: 16px;
    font-weight: 400;
}


.group-selection::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
}

.group-selection:hover::before {
    transform-origin: top;
    transform: scaleY(1);
}

.features::after {
    position: absolute;
    content: "";
    right: 96px;
    top: 23px;
    width: 330px;
    height: 95%;
    background-image: linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
    z-index: -1;
}

.strategy {
    font-size: 13px;
    line-height: 16px;
    color: #03041C;
    text-align: start;
}

.concept {
    font-size: 44px;
    color: #b7b7bb;
    transition: 0.3s;
}

.concept:hover {
    color: #03041C;
}

.design {
    width: 300px;
    top: 385px;
    left: 12px;
    padding: 30px 30px 17px 30px;
}

.center-2 {
    margin: 60px 0;
    padding: 60px 0 30px;
    background-color: #F3F3F5;
}

.skils-2 {
    font-size: 80px;
    color: #03041c;
    line-height: 80px;
}

.experience {
    color: #03041c;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.htmlimg {
    padding: 19px 23px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.html-2 {
    color: #525258;
    font-size: 20px;
    font-weight: 400;
}

.html-3 {
    color: #03041c;
    font-size: 20px;
    font-weight: 500;
}

.strelka1 {
    margin-left: 163px;
    color: #03041C;
    transition: 0.3s;
}

.cssimg {
    padding: 25px 26px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.angular {
    padding: 25px 26px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.bootstrap {
    padding: 23px 21px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.bgcwhite {
    padding: 21px 25px 18px;
    margin-bottom: 10px;
    border: 1px solid #E2E2E8;
    transition: 0.5s;

}

.skill {
    width: 156px;
    height: 155px;
}

.bgcwhite:hover {
    box-shadow: -1px 8px 6px 6px rgba(1, 0, 0, 0.12);
}

.prodata {
    font-weight: 400;
    font-size: 15px;
    color: #525258;

}

img.company-icon {
    padding: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 23px;
}

.procompany {
    padding: 5px 0 0 10px;
}

.procompany-1 {
    font-size: 20px;
    color: #03041C
}

.procompany-2 {
    font-weight: 400;
    font-size: 15px;
    color: #525258;
}


.center-4 {
    margin: 60px 0;
}

.aboutus-1 {
    font-size: 14px;
    color: #03041C;
    margin: 0;
    height: 10px;
}

.aboutus-2 {
    font-size: 80px;
    color: #03041C;
}


.preview {
    color: #03041C;
    width: 140px;
    font-size: 14px;
    transition: 0.3s;
    background-color: transparent;
}

.preview:hover {
    color: #FA6490;
}

.preview-1 {
    border-right: 1px solid #18272F;
}

.preview-2 {
    border-left: 1px solid #F3F3F3;
}

.titlecom {
    font-size: 20px;
}

.com {
    color: #525258;
    font-weight: 400;
    font-size: 20px;
    width: 568px;
    margin: auto;
}

.author {
    font-size: 16px;
    color: #03041C;
    margin: 20px 0 30px;
}

.prev {
    top: 70px;
    left: 93px;
}

.imgauthor {
    width: 100px;
    border-radius: 50%;
    margin: 0 10px;
    height: 100px;
}


.center-5 {
    padding: 50px 0 100px;
    background-color: #F3F3F5;
}

.blog {
    margin-bottom: 80px;
}


.btn-1 {
    margin-left: 80px;
    padding: 16px 23px;
    border: 0;
    transition: 0.3s;
    background-color: #fff;
}

.btn-1:hover {
    color: #fff;
    background-color: black;
}

.btn-2 {
    margin-right: 80px;
    padding: 16px 23px;
    border: 0;
    background-color: #fff;
    transition: 0.3s;
}

.btn-2:hover {
    color: #fff;
    background-color: black;
}


#portfolio {
    margin-top: 60px;
}


.center-6 {
    margin-bottom: 100px;
}

.startme {
    font-size: 80px;
    color: #03041C;
    line-height: 80px;
    margin-bottom: 50px;
}

.phone {
    font-size: 16px;
    color: #525258;
    height: 20px;
}

.callme {
    border: 1px solid #f3f3f3;
    width: 351px;
    padding: 20px 30px;
    margin: 0;
}

.callme::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
    z-index: -1;
    transition: 0.2s;
}

.callme:hover::after {
    top: 8px;
    left: 8px;
}


.svg-2 {
    top: 0px;
}

.conteiner {
    box-shadow: #7C7C85;
    box-shadow: -1px 9px 5px -1px rgba(1, 0, 0, 0.13);
}

.email::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%);
    z-index: -1;
    transition: 0.2s;
}

.email:hover::after {
    top: 8px;
    left: 8px;
}

.svg-rouded {
    transition: 0.3s;
    top: 40px;
}

.callme:hover .svg-rouded {
    top: 25px;
}

.svg-1 {
    transition: 0.3s;
    top: 30px;
}

.email:hover .svg-1 {
    top: 25px;
}

.email-1 {
    font-size: 16px;
    color: #525258;
    height: 20px;
}


.email-2 {
    font-size: 22px;
    color: #03041C;
    line-height: 21px;

}

.number {
    font-size: 16px;
    font-family: sans-serif;
}

.email {
    border: 1px solid #f3f3f3;
    width: 351px;
    padding: 20px 0px 20px 29px;
}

.withus {
    font-size: 30px;
    color: #03041C;
    margin: 30px 0;
}

.input-form input {
    border: 0;
    background-color: #f3f3f3;
    width: 48%;
    padding: 18px 30px;
    margin-bottom: 20px;
    font-family: sans-serif;
    outline: none;
}

.contact__shape-1 {
    position: absolute;
    left: -12%;
    top: -40%;
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(329deg, rgba(255, 145, 250, 0.1) 13.55%, rgba(250, 100, 144, 0.1) 48.54%, rgba(247, 216, 106, 0.1) 86.44%);
}

.help {
    padding: 10px 27px 124px 33px;
    height: 180px;
    outline: none;
    background-color: #f3f3f3;
}

.send {
    color: #fff;
    background-color: #03041C;
    padding: 15px 33px;
    transition: 0.3s;
    font-size: 13px;
}

.send:hover {
    color: #03041C;
    background-color: #fff;
}

/* footer */


.footer {
    background-color: #f3f3f5;
}

.phone_number {
    color: #03041C;
    font-size: 16px;
}

.phone_number::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.phone_number:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.home_2 {
    color: #03041C;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.home_2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.home_2:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.footer_head {
    border-bottom: 1px solid #E2E2E8;
}

.f_logo-1 {
    color: #03041C;
    padding: 13px 13px 12px;
    transition: 0.3s;
    background-color: #fff;
}

.f_logo-2 {
    color: #03041C;
    padding: 13px 13px 12px 14px;
    transition: 0.3s;
    background-color: #fff;
}

.f_logo-3 {
    color: #03041C;
    padding: 13px 15px 12px;
    transition: 0.3s;
    background-color: #fff;
}

.f_logo a:hover {
    color: #fff;
    background-color: #03041C;
}

.sendid {
    font-weight: 400;
    font-size: 16px;
    color: #626272;
}

.center-7 {
    margin-top: 120px;
}

.work {
    border-radius: 10px;
    height: 518px;
}

#work-list-2 {
    display: none;
}

.work-icon {
    color: black;
    background-color: white;
    padding: 15px 18px;
    border-radius: 50%;
    margin-top: 20px;
}

.work img {
    border-radius: 10px;
    transition: transform 0.5s;
}


.work-2 {
    height: 0;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    flex-direction: column;
    padding: 0 40px;
    font-size: 12px;
    transition: height 0.5s;
    color: #03041C;
    background-color: #f2f2f2;
}


.sub-title {
    font-size: 80px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .work-2 {
    height: 100%;
}

.work:hover {
    opacity: 0.8;
}

.work-2 h5 {
    margin-bottom: 30px;
}


#btn {
    margin: 50px auto;
    width: 170px;
    border: 1px solid #03041C;
    padding: 14px 50px;
    border-radius: 6px;
    color: #03041C;
    transition: background-color 0.75s;
    display: block;
}


#btn:hover {
    background-color: #03041C;
    color: #fff;
}

#buttn {
    display: block;
    margin: 50px auto;
    width: 170px;
    border: 1px solid #F0F0F0;
    padding: 14px 50px;
    border-radius: 6px;
    color: #F0F0F0;
    background-color: #03041C;
    text-decoration: none;
    transition: background-color 0.75s;
    text-align: center;
}

#buttn:hover {
    background-color: #F0F0F0;
    color: #03041C;
    border: 1px solid #03041C;
}

.offcanvas {
    padding: 50px 40px;
    background-color: #6364DB;
}

.offcanvas-1 {
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 1.3;
    margin: 15px 0;
}

.offcanvas-2 {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

#colimg-1 {
    display: block;
    transition: 0.5s;
}

#colimg-2 {
    display: none;
}

#colimg-3 {
    display: none;
}

#colimg-4 {
    display: none;
}

.contact {
    margin: 60px 0 30px 0;
    color: #03041C;
    background-color: #fff;
    text-decoration: none;
    transition: 0.3s;
    border: 0;
    display: inline-block;
    width: 100%;
    height: 50px;
}

.contact:hover {
    color: #fff;
    background-color: #03041C;
}

.contact-1 {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    transition: 0.5s;
}

.contact-1:hover {
    color: #03041C;
}

.offcanvas-body::-webkit-scrollbar {
    width: 6px;
    z-index: -1;
}

.canvasicon {
    padding: 9px 14px;
    border: 1px solid #f2f2f2;
    color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.canvasicon:hover {
    background-color: #fff;
    color: #03041C;
}

.xmark {
    color: white;
    font-size: 28px;
}

#message_sented {
    color: #fff;
    background-color: green;
    padding: 15px 33px;
    transition: 0.3s;
    font-size: 13px;
    width: 100%;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    display: none;
    text-transform: uppercase;
}

.slide {
    display: flex;
    justify-content: space-between;
    bottom: 195px;
    position: relative;
    z-index: 1;
}

.author-1 {
    color: #03041C;
    font-size: 22px;
    margin-top: 30px 0 0 20px;
}

 @media screen and (max-width: 1400px) {
    .aboutMe {
        margin: 0 auto;
        padding: 100px;
        width: 1100px;
    }

    .sub-title,
    .startme,
    .skils-2,
    .aboutus-2,
    .job {
        font-size: 65px;
    }

    .job {
        font-size: 65px;
        line-height: 70px;
    }

    .bio {
        font-size: 35px;
    }

    .hiim,
    .hey span {
        font-size: 18px;
    }

    .myimg {
        width: 567px;
    }

    .bgc::after {
        top: 28%;
        left: 13%;
        width: 400px;
        height: 400px;
    }

    .layer-2 {
        left: 70%;
        top: 40%;
    }

    .layer {
        left: 83px;
        top: 35%;
    }
}

@media screen and (max-width: 1200px) {

    .aboutMe{
        margin: 0;
        width: 100%;
        padding: 75px;
    }
    
    .features {
        display: none;
    }

    .bio-2 {
        font-size: 16px;
    width: 100%;
    }
    .sub-title{
        font-size: 65px;
    }
    .hiim {
        font-size: 15px;
        width: 83%;
    }
    .job, .skils-2, .startme{
        font-size: 65px;
        line-height: 60px;
    }

    .bio {
        font-size: 19px;
        line-height: 33px;
    }

    .myimg {
        width: 399px;
        font-size: 18px;
    }

    .bgc::after {
        top: 28%;
        left: 5%;
        width: 380px;
        height: 380px;
    }

    .layer {
        width: 60px;
        top: 30%;
        left: 60px;
    }

    .layer-2 {
        width: 0;
    }

    .aboutus-2 {
        font-size: 33px;
        margin-top: 20px;
    }

    .com {
        width: 367px;
        font-size: 15px;
    }

    .fixed-bottom {
        bottom: 0;
        left: 83%;
    }

    .slide {
        display: none;
    }

    .author-1 {
        font-size: 18px;
    }

    .mylogo {
        width: 210px;
        padding-top: 30px;
    }
}