<li class="nav-item">
    <div class="container col align-content-center mt-4">
        <a class="home_1 text-decoration-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <span class="intro" id="intro">
                Intro
                <i class="fa fa-bars px-2"></i></span>
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body">
                <div class="d-flex justify-content-between">
                    <img src="./imgs/logotype_right.png" alt="logo" class="logotype">
                    <i class="fa fa-xmark-square xmark" data-bs-dismiss="offcanvas" aria-label="Закрыть"></i>
                </div>
                <div class="offcanvas-1">We help to create visual strategies.</div>
                <div class="offcanvas-2">We want to hear from you. Let us know how
                    we can help.
                </div>
                <img src="./imgs/offcanvas-img-1.webp" alt="">
                <button class="contact">Contact</button>
                <a class="contact-1 text-decoration-none fw-bold" href="tel:+992-92-844-07-11">+992-92-844-07-11</a>
                <a class="contact-1 text-decoration-none fw-bold" href="mailto:komronkhonshavkatzoda@gmail.com"
                    target="_blank">
                    komronkhonshavkat
                    <br>
                    zoda@gmail.com</a>
                <div class="d-flex justify-content-between mt-5">
                    <a href="https://www.facebook.com/komronkhon.shavkatzoda?mibextid=ZbWKwL"
                        class="canvasicon text-center text-decoration-none" target="_blank">
                        <i class="fab fa-facebook-square" width="16" height="16"></i>
                    </a>
                    <a href="https://instagram.com/komronkhon_17?igshid=MzNlNGNkZWQ4Mg=="
                        class="canvasicon text-center text-decoration-none" target="_blank">
                        <i class="fab fa-instagram" width="16" height="16"></i>
                    </a>
                    <a href="http://t.me/shavkatzoda_k" class="canvasicon text-center text-decoration-none"
                        target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="https://m.vk.com/komronkhon" class="canvasicon text-center text-decoration-none"
                        target="_blank">
                        <i class="fab fa-vk" width="16" height="16"></i>
                    </a>
                    <a href="https://m.me/komronkhon.shavkatzoda" class="canvasicon text-center text-decoration-none"
                        target="_blank">
                        <i class="fab fa-facebook-messenger"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>